
  <section id="resetPassword">
    <div class="auth-form py-5">
      <div class="text-center">
        <img src="../../../assets/images/logo.svg" alt="logo" />
      </div>
      <div class="px-5">
        <h2> Reset  Password</h2>
        <p>Please Enter Your Otp  or Check Your Inbox</p>
  
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm)">
        
           <div class="row">
          
            <div class="col-lg-12 col-sm-12">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"
                  ><i  class="fa-regular fa-envelope"></i
                ></span>
               
                <input
                  formControlName="email"
                  type="email"
                  class="form-control"
                  [placeholder]="resetPasswordForm.controls['email'].value"
                  aria-label="Username"
                  aria-describedby="basic-addon1"
                />
                <div *ngIf="resetPasswordForm.controls['email'].touched&&resetPasswordForm.controls['email'].errors"
                class=" w-100 py-2">
           <p class="text-danger" 
           *ngIf="resetPasswordForm.controls['email'].errors['email']">
           Email should be valid Email</p>
           <p class="text-danger"
            *ngIf="resetPasswordForm.controls['email'].errors['required']">
            Email is required</p>
          
       </div>
              </div>
            </div>
            <div class="col-lg-12 col-sm-12">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fa-solid  fa-lock"></i
                ></span>
                <input
                  formControlName="seed"
                  type="text"
                  class="form-control"
                  placeholder="OTP"
                  aria-label="Username"
                  aria-describedby="basic-addon1"
                />
              </div>
              <div 
              *ngIf="resetPasswordForm.controls['seed'].errors&&resetPasswordForm.controls['seed'].touched"
               class=" w-100 py-2">
                <p class="text-danger" 
                *ngIf="resetPasswordForm.controls['seed'].errors['required']">OTP is required</p>
               
            </div>
            </div>
         
            
                <div class="col-lg-12 col-sm-12">
                  <div class="input-group mb-3 postion-relative">
                    <span class="input-group-text" id="basic-addon1"
                      ><i class="fa-solid fa-lock"></i
                    ></span>
                    <input
                      formControlName="password"
                      [type]="hide ? 'password' : 'text'"
                      class="form-control"
                      placeholder="New Password"
                      aria-label="password"
                      aria-describedby="basic-addon1"
                    />
           
                    <a class="show-password" (click)="this.hide = !this.hide">
                      <i class="fa-solid" [class]="hide ? 'fa-eye-slash' : 'fa-eye'"></i>
          
                    </a>
                    <div *ngIf="resetPasswordForm.controls['password']?.errors && resetPasswordForm.controls['password']?.touched" 
                    class="w-100 py-2">
                      <p class="text-danger" *ngIf="resetPasswordForm.controls['password']?.errors?.['required']">
                        Password is required</p>
                      <p class="text-danger" *ngIf="resetPasswordForm.controls['password']?.errors?.['pattern']">
                        Password must be contain a capital letter and special character</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-sm-12">
                  <div class="input-group mb-3 postion-relative">
                    <span class="input-group-text" id="basic-addon1"
                      ><i class="fa-solid fa-lock"></i
                    ></span>
                    <input
                      formControlName="confirmPassword"
                      [type]="confirmhide ? 'password' : 'text'"
                      class="form-control"
                      placeholder=" Confirm New Password"
                      aria-label="Username"
                      aria-describedby="basic-addon1"
                    />
            
                
                    <a class="show-password" (click)="this.confirmhide = !this.confirmhide">
                      <i class="fa-solid" [class]="confirmhide ? 'fa-eye-slash' : 'fa-eye'"></i>
          
  
                    </a>
                    <div *ngIf="resetPasswordForm.controls['confirmPassword']?.errors && resetPasswordForm.controls['confirmPassword']?.touched" 
                    class="w-100 py-2">
                      <p class="text-danger" *ngIf="resetPasswordForm.controls['confirmPassword']?.errors?.['required']">
                        Confirm Password must be required</p>
                      <p class="text-danger" *ngIf="resetPasswordForm.controls['confirmPassword']?.errors?.['pattern']">
                       Confirm Password must be contain a capital letter and special character</p>
                    </div>
                  </div>
                </div>
    
  
          </div>
         
  
       
          <button
              [disabled]="resetPasswordForm.invalid" 
            class="btn w-100 bg-main text-white"
          >
            <span *ngIf="isLoading == false">Reset Password </span>
            <span *ngIf="isLoading == true"
              ><i class="fa-solid fa-spinner fa-spin text-white"></i
            ></span>
          </button>
        </form>
      </div>
    </div>
  </section>
  