.show-password{
    // position: absolute;
    // top:50%;
    // right:10px;
   
    // transform: translateY(-50%);
    cursor: pointer;
    z-index: 9999999999;
 }
 .change-style{
    width: 50rem;
 }
