#home{
    background-image: url(../../../assets/images/Rectangle.png);
    background-size: cover;
    background-position: center center ;
    background-repeat: no-repeat;
    background-color: rgba(0, 146, 71, 1);
    border-radius: 15px;
    margin-top: 1.5rem;
}

#fill-recipes{
    margin-top: 1.5rem;
    background-color: rgba(240, 255, 239, 1);
   border-radius: 15px;
   padding: 1.7rem 1.5rem;
}