<section id="register">
  <div class="auth-form py-5">
    <div class="text-center">
      <img src="../../../assets/images/logo.svg" alt="logo" />
    </div>
    <div class="px-5">
      <h2>Register</h2>
      <p>Welcome Back! Please enter your details</p>

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
        <div class="row ">
          <div class="col-lg-6 col-sm-6 my-4">
            <ngx-dropzone (change)="onSelect($event)" class="w-50">
              <ngx-dropzone-label>Drop image here </ngx-dropzone-label>
              <!-- <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
              </ngx-dropzone-preview> -->
              <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f">
                <ngx-dropzone-label></ngx-dropzone-label>
              </ngx-dropzone-image-preview>
            </ngx-dropzone>
          </div></div>
         <div class="row">
          <div class="col-lg-6 col-sm-12">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">

                <i class="fa-solid fa-users"></i>
              </span>
              

              <input
                formControlName="userName"
                type="UserName"
                class="form-control"
                placeholder="UserName"
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
              <div *ngIf="registerForm.controls['userName']?.errors && registerForm.controls['userName']?.touched" 
              class="w-100 py-2">
                <p class="text-danger" *ngIf="registerForm.controls['userName']?.errors?.['required']">
                  User Name is required</p>
                <p class="text-danger" *ngIf="registerForm.controls['userName']?.errors?.['pattern']">
                  User Name must be start a capital letter and contain number </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"
                ><i class="fa-regular fa-envelope"></i></span>
              <input
                formControlName="email"
                type="email"
                class="form-control"
                placeholder="Enter Your Email"
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
              <div *ngIf="registerForm.controls['email'].touched&&registerForm.controls['email'].errors"
              class=" w-100 py-2">
         <p class="text-danger" 
         *ngIf="registerForm.controls['email'].errors['email']">
         Email should be valid </p>
         <p class="text-danger"
          *ngIf="registerForm.controls['email'].errors['required']">
          Email is required</p>
        
     </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">
              <i class="fa-solid fa-earth-americas"></i></span>
              <input
                formControlName="country"
                type="text"
                class="form-control"
                placeholder="country"
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
              <div *ngIf="registerForm.controls['country']?.errors && registerForm.controls['country']?.touched" 
              class="w-100 py-2">
                <p class="text-danger" *ngIf="registerForm.controls['country']?.errors?.['required']">
                  Country is required</p>
              
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"
                ><i class="fa-solid fa-mobile-screen"></i
              ></span>
              <input
                formControlName="phoneNumber"
                type="number"
                class="form-control"
                placeholder="phoneNumber"
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
              <div *ngIf="registerForm.controls['phoneNumber']?.errors && registerForm.controls['phoneNumber']?.touched" 
              class="w-100 py-2">
                <p class="text-danger" *ngIf="registerForm.controls['phoneNumber']?.errors?.['required']">
                  phoneNumber is required</p>
                <p class="text-danger" *ngIf="registerForm.controls['phoneNumber']?.errors?.['pattern']">
                  phoneNumber must be number </p>
              </div>
            </div>
          </div>
              <div class="col-lg-6 col-sm-12">
                <div class="input-group mb-3 postion-relative">
                  <span class="input-group-text" id="basic-addon1"
                    ><i class="fa-solid fa-lock"></i
                  ></span>
                  <input
                    formControlName="password"
                    [type]="hide ? 'password' : 'text'"
                    class="form-control"
                    placeholder="Password"
                    aria-label="Username"
                    aria-describedby="basic-addon1"
                  />
                  <div *ngIf="registerForm.controls['password']?.errors && registerForm.controls['password']?.touched" 
                  class="w-100 py-2">
                    <p class="text-danger" *ngIf="registerForm.controls['password']?.errors?.['required']">
                      Password is required</p>
                    <p class="text-danger" *ngIf="registerForm.controls['password']?.errors?.['pattern']">
                      Password must be contain a capital letter and special character </p>
                  </div>
                
                  <a class="show-password" (click)="this.hide = !this.hide">
                    <i class="fa-solid" [class]="hide ? 'fa-eye-slash' : 'fa-eye'"></i>
        
                  </a>
                </div>
              </div>
              <div class="col-lg-6 col-sm-12">
                <div class="input-group mb-3 postion-relative">
                  <span class="input-group-text" id="basic-addon1"
                    ><i class="fa-solid fa-lock"></i
                  ></span>
                  <input
                    formControlName="confirmPassword"
                    [type]="confirmhide ? 'password' : 'text'"
                    class="form-control"
                    placeholder="Confirm Password"
                    aria-label="Username"
                    aria-describedby="basic-addon1"
                  />
                  <div *ngIf="registerForm.controls['confirmPassword']?.errors && registerForm.controls['confirmPassword']?.touched" 
                  class="w-100 py-2">
                    <p class="text-danger" *ngIf="registerForm.controls['confirmPassword']?.errors?.['required']">
                      ConfirmPassword is required</p>
                    <p class="text-danger" *ngIf="registerForm.controls['confirmPassword']?.errors?.['pattern']">
                      ConfirmPassword must be contain a capital letter and special character</p>
                  </div>
              
                  <a class="show-password" (click)="this.confirmhide = !this.confirmhide">
                    <i class="fa-solid" [class]="confirmhide ? 'fa-eye-slash' : 'fa-eye'"></i>
        

                  </a>
                </div>
              </div>
  

        </div>
       

        <div class="d-flex justify-content-between pt-2 pb-4">
          <a routerLink="/auth/login" class="text-decoration-none text text-custom-dark"
            >Login Now?</a
          >
          <a 
           class="text-decoration-none text text-main" (click)="openDialog()"
          >Have Code?</a
        >
    
        </div>
        <button
            [disabled]="registerForm.invalid" 
          class="btn w-100 bg-main text-white"
        >
          <span *ngIf="isLoading == false">Register </span>
          <span *ngIf="isLoading == true"
            ><i class="fa-solid fa-spinner fa-spin text-white"></i
          ></span>
        </button>
      </form>
    </div>
  </div>
</section>
