<section id="login">
  <div class="auth-form py-5">
    <div class="text-center">
      <img src="../../../assets/images/logo.svg" alt="logo" />
    </div>
    <div class="px-5">
      <h2>Log In</h2>
      <p>Welcome Back! Please enter your details</p>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"
            ><i class="fa-solid fa-mobile-screen"></i
          ></span>
          <input
            formControlName="email"
            type="email"
            class="form-control"
            placeholder="Enter Your Email"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
        <!-- <div *ngIf="loginForm.get("email")?.errors&&loginForm.getError('required')"></div> -->
        <div class="input-group mb-3 postion-relative">
          <span class="input-group-text" id="basic-addon1"
            ><i class="fa-solid fa-lock"></i
          ></span>
          <input
            formControlName="password"
            [type]="hide ? 'password' : 'text'"
            class="form-control"
            placeholder="Password"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
          <!-- <a class="show-password" (click)="togglePassword()"><i class="fa-solid fa-eye"></i></a> -->
          <a class="show-password" (click)="this.hide = !this.hide">
            <i class="fa-solid" [class]="hide ? 'fa-eye-slash' : 'fa-eye'"></i>

            <!-- <i *ngIf="!hide" class="fa-solid fa-eye"></i>
        <i *ngIf="this.hide==false" class="fa-solid fa-eye"></i>
        <i *ngIf="this.hide==true" class="fa-solid fa-eye-slash"></i> -->
          </a>
        </div>

        <div class="d-flex justify-content-between pt-2 pb-4">
          <a class="text-decoration-none text text-custom-dark"
            >Register Now?</a
          >
          <a class="text-decoration-none text text-main">Forgot Password?</a>
        </div>
        <button
            [disabled]="loginForm.invalid" 
          class="btn w-100 bg-main text-white"
        >
          <span *ngIf="isLoading == false">Login </span>
          <span *ngIf="isLoading == true"
            ><i class="fa-solid fa-spinner fa-spin text-white"></i
          ></span>
        </button>
      </form>
    </div>
  </div>
</section>
