<section id="verifyAccount ">
    <div class="m-5">

        <h2 mat-dialog-title class="bold">Enter your code</h2>
        <mat-dialog-content>
          <form [formGroup]="verifyForm">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"
                ><i class="fa-solid fa-mobile-screen"></i
              ></span>
              <input
                formControlName="email"
                type="email"
                class="form-control"
                placeholder="Enter Your Email"
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"
                ><i class="fa-solid fa-mobile-screen"></i
              ></span>
              <input
                formControlName="code"
                type="code"
                class="form-control"
                placeholder="code"
                aria-label="code"
                aria-describedby="basic-addon1"
              />
            </div>
          </form>
        </mat-dialog-content>
        <mat-dialog-actions class="justify-content-between  ">
          <button mat-button (click)="onNoClick()" class="px-2 bg-main fs-5 text-white">Cancel</button>
          <button mat-button  [disabled]="verifyForm.invalid"    [mat-dialog-close]="verifyForm.value" class="px-2 mx-2 fs-5 bg-main border border-white text-white" >
           send
          </button>
        </mat-dialog-actions>
    </div>

    
    </section>
    
 