
<section id="forget-password">
    <div class="auth-form py-5 m-5 px-5 forget-style">
      <div class="text-center">
        <img src="../../../assets/images/logo.svg" alt="logo" />
      </div>
      <div class="px-5 my-5 ">
        <h2 >Forgot Your Password?</h2>
        <p class="mb-5">No worries! Please enter your email and we will send a password reset link </p>
  
        <form  [formGroup]="forgetPassword" (ngSubmit)="onSubmit(forgetPassword)">
          <div class="input-group mb-5">
            <span class="input-group-text border-end-0" id="basic-addon1"
              ><i class="fa-solid fa-mobile-screen"></i
            ></span>
            <input
              formControlName="email"
              type="email"
              class="form-control border-start-0"
              placeholder=" Enter Your Email"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
            <div *ngIf="forgetPassword.controls['email'].touched&&forgetPassword.controls['email'].errors"
                   class=" w-100 p-1">
              <p class="text-danger" 
              *ngIf="forgetPassword.controls['email'].errors['email']">
              Email should be valid Email</p>
              <p class="text-danger"
               *ngIf="forgetPassword.controls['email'].errors['required']">
               Email is required</p>
             
          </div>
          </div>

<!--   
          <button
              [disabled]="forgetPassword.invalid" 
            class="btn w-100 bg-main mt-5 py-3 text-white"
          (click)="openDialog()"
    
          >
         -->
          <button
              [disabled]="forgetPassword.invalid" 
            class="btn w-100 bg-main mt-5 py-3 text-white"
           
    
          >
            <span class="fw-bold" *ngIf="isLoading == false" >Submit </span>
            <span *ngIf="isLoading == true"
              ><i class="fa-solid fa-spinner fa-spin text-white"></i
            ></span>
          </button>
        </form>
      </div>
    </div>
  </section>
  