.header-page{
    background-image: url(../../../../assets/images/category-background.svg);
    background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 20vh;
     border-radius: 16px;
     color: white;
     img{
        width:30%;
     }
} 