
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$foodRecipe-primary: mat.define-palette(mat.$green-palette , );
$foodRecipe-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$foodRecipe-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$foodRecipe-theme: mat.define-light-theme((
  color: (
    primary: $foodRecipe-primary,
    accent: $foodRecipe-accent,
    warn: $foodRecipe-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($foodRecipe-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.auth-form{
  background-color: #fff;
  border-radius: 16px;
  width:70%;
  padding: 10px 0px;
  h2{
    font-family: "Inter", sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    color:rgb(73, 73, 73);
    
  }
  p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 19px;
color: rgba(73, 73, 73, 0.6);

  }
  i{
   color: rgba(131, 145, 161, 1);
  }
 
}
button{
  border: none;
  text-align: center;
  border-radius: 8px;
  padding: 10px 8px;
  font-family: "Inter";
font-size: 30px;
font-weight: 700;
line-height: 24px;


 
  &.main{
    background-color: rgba(74, 163, 90, 1);
    color: #fff;
    transition: all 1s ;
    :disabled{
      opacity: 0.5;
    }
    &:hover{
      color: rgba(74, 163, 90, 1);
      background-color:#fff;
      border: 1px solid  rgba(74, 163, 90, 1);
    }

  }
  &.outline-main{
color: rgba(74, 163, 90, 1);
background-color: #fff;
border: 1px solid  rgba(74, 163, 90, 1);
transition: all 1s ;
&:hover{
  color: #fff;
  background-color:rgba(74, 163, 90, 1);
}


  }
}
.text{
  font-family: "Inter";
  font-weight: 500;
  line-height: 19px;
 cursor: pointer;
  
  &.text-main{

    color: rgba(74, 163, 90, 1)!important;
  }
  &.text-custom-dark{
    color: rgba(58, 58, 61, 1)!important;
  }
}
.text-dark2{
 color:rgba(31, 38, 62, 1) !important;
}
.bg-dark2{
 background-color:rgba(31, 38, 62, 1) !important ;
}

.bg-main{

  background-color: rgba(74, 163, 90, 1)!important;
  
}


.bg-custom-dark{
  background-color: rgba(58, 58, 61, 1)!important;
}
.form-control {
  background-color: #f8f9fa !important;
  border: none;
}
.input-group-text{
  padding: 20px;
  border-right-color: black !important;
  border: none;
}
.my-pointer{
  cursor: pointer;
}
.header-page{
   background-image: url(../src/assets/images/header-bg-svg.png);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 22vh;
   padding: 5px 50px;
   margin-left:0px;
   width: 100%;
   
   margin-bottom: 20px;
   border-radius: 16px;
   color: white;
   
   img{
    padding-top: 20px;
      width:40%;
   }
 
} 